<div class="friends-container">
  <div class="main-content">
    <div class="content-right">
      <div class="friends-list-widget">
        <h2>Friends</h2>
        <div class="friends-list">
          {{#each friends}}
            <div class="friend-card">
              <div class="friend-header">
                <a href="/profile/{{this.username}}">
                  <img src="{{this.profile_picture_url}}" class="avatar" onerror="this.onerror=null;this.src='https://e7.pngegg.com/pngimages/926/34/png-clipart-computer-icons-user-profile-avatar-avatar-face-heroes.png';">
                </a>
                <div class="friend-details">
                  <h3>{{this.first_name}} {{this.last_name}}</h3>
                  <p>{{this.status}}</p>
                </div>
              </div>
              <div class="friend-actions">
                <button type="button" class="btn-primary" onClick="location.href='/chat/{{user_id}}'">Message</button>

                <form action="/friends/delete_friend" method="POST">
                  <input type="hidden" name="user_id" value={{user_id}}>
                  <button class="btn-primary">Unfriend</button>
                </form>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>


<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #D9E3F0;
        color: #333;
        margin: 0;
        padding: 0;
        background-image: url('https://aboutboulder.com/wp-content/uploads/2023/08/The-Vibrant-Campus-Life-at-CU-Boulder-scaled.jpeg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
    }

    .main-content {
        display: flex;
    }

    .content-left {
        flex: 1;
        max-width: 30%;
        margin-right: 30px;
        position: sticky;
        top: 0;
        height: fit-content;
    }

    .content-right {
        flex: 2;
    }

    .friends-container {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 15px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        padding: 30px;
        width: 65%;
        max-height: 85vh;
        box-sizing: border-box;
        margin: auto;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .friends-container::-webkit-scrollbar {
        display: none;
    }

    .friends-list-widget h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .customize-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: start;
        margin-bottom: 20px;
    }

    .filter-link, .sort-link {
        color: rgb(215, 183, 27);
        text-decoration: none;
    }

    .filter-link:hover, .sort-link:hover {
        text-decoration: underline;
    }

    .friends-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .friend-card {
        background-color: #fff;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 250px;
        text-align: center;
    }

    .friend-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .friend-details {
        margin-top: 10px;
    }

    .friend-actions {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .friend-actions button {
        padding: 8px 15px;
        font-size: 0.9rem;
        background-color: rgb(215, 183, 27);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .friend-header a {
        cursor: pointer;
        transition: opacity 0.2s;
    }

    .friend-header a:hover {
        opacity: 0.8;
    }

    .avatar {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

</style>
